<%= form_for(@food) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3"> 
    <label for="cover">
    <%= image_tag @food.img_url, style: "width: 128px; height: 128px", id: "image_#{@food.id}_medium" %>
      <%= form.file_field :image_file, id: "image_#{@food.id}", class: 'form-control image-upload'%>
    </label>
  </div>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :food_type, class: 'form-label' %>
    <%= form.text_field :food_type, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    const reader = new FileReader();            
    reader.onload = function (e) {
        $(`#${input.id}_medium`).attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}

$(() => {
  $(".image-upload").change((e) => {
    readURL(e.target);
  });
})
</script>